<div class="container">
<h1>Stupid Coach</h1>
<p><strong>Your question:</strong> <%= @test %> </p>
<p><strong>Here is your answer: </strong><%= @answer %> </p>
<hr/>
<br/>

<%= link_to 'Ask another question', laure_path, :class => "btn" %>
</div>


