<div class="container">
<h1>Ask</h1>
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="coach_question" placeholder="what time is it?">
  <input type="submit">
</form>


<hr/>
</div>
